CompileFlags:
  Add:
    - -std=c99
    - -Wall
    - -Wextra
    - -I/usr/local/include
    - -I.
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: modernize*
    WarnOnSizeOfPointerToAggregate: false
InlayHints:
  ParameterNames: No
